.home {
  height: 100%;
  width: 100%;
  background-image: url('/img/site/the_work.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  cursor: url('../img/site/arrow.svg'), auto;
}
