.caption {
  //font-size: $small-font-size;
  color: $sub-color;
}

.home {
  height: 100%;
  padding-left: $view-padding * 2;
  padding-right: $view-padding * 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .slideshowParent {

    .slideshowContainer {
      /* centering slideshow image within its parent container */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      overflow: hidden;

      .mySlides {
        img {
          width: 100%;
          display: inline-block;
        }
      }
    }

    .slideshowContainer-process {
      /* centering slideshow image within its parent container */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      overflow-x: hidden;
      overflow-y: scroll;

      .mySlides {
        img {
          width: 100%;
          display: inline-block;
        }
      }
    }

  }
}

.content {
  padding-top: $nav-font-size * 4.5;
  padding-bottom: $nav-font-size * 4.5;
  padding-left: $view-padding * 2;
  padding-right: $view-padding * 2;

  p {
    margin-bottom: 1.5em;
  }

  ul {
    list-style: none;
  }

  a {
    color: $href-hover-color;
    text-decoration: none;

    &:visited {
      color: $href-hover-color;
      text-decoration: none;
    }

    &:hover {
      color: $href-color;
    }
  }

  .opposite a {
    color: $href-color;
    &:visited {
      color: $href-color;
    }
    &:hover {
      color: $href-hover-color;
    }
  }

  .grid-elements {
    text-align: center;
  }

  .work-container {
    width: 45%;
    display: inline-block;
    //margin: 0.5em;

    .works-image {
      height: 100%;
      width: 100%;
    }

    .project-title {
      font-size: $work-tag-size;
      float: left;
      text-transform: uppercase;
    }

    .project-tags {
      font-size: $work-tag-size;
      float: right;
      text-transform: uppercase;
    }
  }

}

/* for posts on the process blog page */

.post-content {

  img {
  display: block;
  width: 100vw;
  }

}

/* for works pages */

.work-heading {

  margin-bottom: 2em;

  .work-title {
    font-size: $huge-font-size;
  }

  .work-sub {
    //font-size: $small-font-size;
    color: $sub-color;
  }

}

.work-content {

  img {
    margin-top: $view-padding;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    align-self: center;
  }
}
