.caption {
  font-size: $small-font-size;
  color: $sub-color;
  margin-top: -1.5em;
}

.content {
  padding-top: $nav-font-size * 2.5;
  padding-left: $view-padding * 2;
  padding-right: $view-padding * 2;
  padding-bottom: $nav-font-size * 2.5;

  p {
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
  }

  a {
    color: $href-alt-color;
    text-decoration: none;

    &:visited {
      color: $href-alt-color;
      text-decoration: none;
    }

    &:hover {
      color: $href-color;
    }
  }

  .opposite a {
    color: $href-color;
    text-decoration: none;

    &:visited {
      color: $href-color;
      text-decoration: none;
    }

    &:hover {
      color: $href-alt-color;
    }
  }

  .grid-elements {
    text-align: center;
  }

  .work-container {
    width: 45%;
    display: inline-block;
    margin: 0.5em;

    .even-height {
    }

    .works-image {
      height: 100%;
      width: 100%;
    }

    .project-title {
      font-size: 0.35em;
      float: left;
      text-transform: uppercase;
    }

    .project-tags {
      font-size: 0.35em;
      float: right;
      text-transform: uppercase;
      color: $sub-color;
    }
  }

}

/* for posts on the process blog page */

.post-content {

  img {
  display: block;
  width: 100vw;
  }

}

/* for works pages */

.work-heading {

  .work-title {
    font-size: $huge-font-size;
  }

  .work-sub {
    font-size: $small-font-size;
    color: $sub-color;
  }

}

.work-content {
  img {
    margin-top: $view-padding;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    align-self: center;
  }
}
