.caption {
  color: $sub-color;
}

.hovermq .content .grid-elements .work-container img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* CSS for Webkit Browsers */
  filter: url(/elements/grayscale.svg#desaturate); /* Firefox 4-34 */
  filter: gray;  /* Internet Explorer IE6-9 */
  -webkit-filter: grayscale(1); /* Old WebKit Browsers */
}

.home {
  height: 100%;
  padding-left: $view-padding * 2;
  padding-right: $view-padding * 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .slideshowParent {
    .slideshowContainer {
      /* centering slideshow image within its parent container */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      overflow: hidden;
      .mySlides {
        img {
          width: 100%;
          display: inline-block;
        }
      }
    }

    .slideshowContainer-process {
      /* centering slideshow image within its parent container */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      overflow-x: hidden;
      overflow-y: scroll;
      .mySlides {
        img {
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
}


.content {
  padding-top: $nav-font-size * 4.5;
  padding-bottom: $nav-font-size * 4.5;
  padding-left: $view-padding * 2;
  padding-right: $view-padding * 2;

  p {
    margin-bottom: 1.5em;
  }

  ul {
    list-style: none;
  }

  a {
    color: $href-hover-color;
    text-decoration: none;

    &:visited {
      color: $href-hover-color;
      text-decoration: none;
    }

    &:hover {
      color: $href-color;
    }
  }

  .opposite a {
    color: $href-color;
    &:visited {
      color: $href-color;
    }
    &:hover {
      color: $href-hover-color;
    }
  }

  .grid-elements {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;

    .work-container {
      //display: -webkit-flex;
      //display: -ms-flexbox;
      //display: flex;
      //flex-flow: column wrap;
      width: 100%;

      margin-right: $frame-padding;
      margin-left: $frame-padding;
      margin-bottom: $frame-padding * 3;
      flex-grow: 1;


      img {
        width: 100%;
        &:hover {
          filter: none;
          -webkit-filter: grayscale(0); /* Old WebKit */
          filter: grayscale(0%);
        }
      }

      .project-title {
        font-size: $small-font-size;
        padding-top: $frame-padding;
      }
      .project-subtitle {
        font-size: $small-font-size;
      }
    }
    @media screen and (min-width: 600px) {
      .work-container {
        width: 40%;
      }
    }
    @media screen and (min-width: 1000px) {
      .work-container {
        width: 31%;
      }
    }

  }
}

/* for posts on the process blog page */

.post-content {

  img {
  display: block;
  width: 100vw;
  }

}

/* for works pages */

.work-heading {

  margin-bottom: 2em;

  .work-title {
    font-size: $huge-font-size;
  }

  .work-sub {
    //font-size: $small-font-size;
    color: $sub-color;
  }

}

.work-content {

  img {
    margin-top: $view-padding;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    align-self: center;
  }
}
